
/* Mise en page
------------------------------------------------------- */

#page {
  display: grid;
  grid-template-columns: 1fr 5fr;
  @media (max-width:1050px){ grid-template-columns: 1fr 4fr; }
  @media (max-width:950px){ display: block;  }
}
main {
  grid-column-start: 2;
}



